/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Cores do ProExtend - Azul #0090E7 */
:root {
  --ifm-color-primary: #0090E7;
  --ifm-color-primary-dark: #0081d0;
  --ifm-color-primary-darker: #007ac4;
  --ifm-color-primary-darkest: #0065a2;
  --ifm-color-primary-light: #1a9eea;
  --ifm-color-primary-lighter: #2ca5ec;
  --ifm-color-primary-lightest: #4db3ef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 144, 231, 0.1);
}

/* Modo escuro - variação mais clara do azul ProExtend */
[data-theme='dark'] {
  --ifm-color-primary: #4db3ef;
  --ifm-color-primary-dark: #2ca5ec;
  --ifm-color-primary-darker: #1a9eea;
  --ifm-color-primary-darkest: #0090E7;
  --ifm-color-primary-light: #6ec1f2;
  --ifm-color-primary-lighter: #80c9f4;
  --ifm-color-primary-lightest: #a3d9f7;
  --docusaurus-highlighted-code-line-bg: rgba(77, 179, 239, 0.2);
}

/* Ajustes da logo */
.navbar__logo {
  height: 23px;
  width: auto;
  margin-right: 20px;
}

.navbar__title {
  font-weight: 600;
  font-size: 1.1rem;
}
